.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.yaml
*.html
*.xlsx
kibanadata
*_cache
atki_api.R
tetryon_api.R
*.xml
kurs.R
emu3*
*.gpkg
vbv_data
*gdb*
trs_query.txt
.RDataTmp
*.docx
*.zip
archive
nr
*.rds