.RData
.RDataTmp
.Rhistory
.Rproj.user
.Ruserdata
*_cache
*.csv
*.docx
*.gpkg
*.html
*.rds
*.xlsx
*.xml
*.yaml
*.zip
archive
atki_api.R
emu3*
fart_okv
*gdb*
kibanadata
kjoretoyregisteret
kurs.R
nr
tetryon_api.R
ts_data
trs_query.txt
trs_trp
vbv_data