/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Calibri";
$h1-font-size: 36pt;

// colors
$body-color: #000;
$link-color: #51483d !default;
$selection-bg: #26351c;

// headings
$presentation-heading-font: "Calibri";


/*-- scss:rules --*/