body {
  background-color: #F5F5F5;
  font-family: LFT Etica;
  font-size: 12pt;
}

h1,h2,h3,h4,h5,h6 {
  color: #FF9600;
  padding-bottom: .4em;
  padding-top: 1em;
}

caption {
  color: black;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  margin-bottom: 3px;
}

table {
  margin-top: 2px;
}

.figure-caption {
  font-family: LFT Etica;
  font-size: 11pt;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.figure {
  margin-top: 2px;
  margin-bottom: 1px;
}